


#foot{
    clear: both;
    float: none;
    width: auto;
    padding: 2%;
    margin: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: whitesmoke;
    background-color: #171a21;
    text-align: center;
    
}